.page {
    margin:0 39% 0 39%;
}
.col1 {
    background-color: hsl(252, 100%, 67%);
    background-color: hsl(241, 81%, 54%);
    border-radius: 0 0 15px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.result h4{
    color: rgb(193, 184, 174); 
    font-size: 18px;
}
div.marks {
    margin: 0 28% 0 28%;
    border-radius: 100%;
    padding: 5px 5px 5px 5px;
    /* background-color: hsla(256, 72%, 46%, 1); */
    /* background-color: hsla(241, 72%, 46%, 0); */
    border-radius: 100%;
    background-color: hsla(256, 72%, 46%,1);
    background-color: hsla(241, 72%, 46%,1);
} 
.marks b {
    font-size: 60px;
    color: white;
}
.marks p {
    color: rgb(193, 184, 174); 
}
.col1 span {
    font-size: 18px;
    font-weight: bold;
}
.para {
    color: rgb(193, 184, 174); 
    font-size: 18px;
}
.col2{
    /* border: 2px solid red; */
    padding-bottom: 10px;
}
.col2 h4{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:  rgb(3, 3, 51);;
}
.container {
    padding-bottom: 10px;
}
svg {
    position: relative;
    top: 5px;
}   

.one {
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: hsl(0, 58%, 93%);
    color: hsl(0, 100%, 67%);
    margin-bottom: 10px;
}
.one b {
    color: rgb(3, 3, 51);
    padding-left: 40%;
    font-weight: 100;
}
.two {
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgb(249, 249, 211);
    color: hsl(39, 100%, 56%);
    margin-bottom: 10px;
}
.two b {
    color: rgb(3, 3, 51);
    padding-left: 40%;
    font-weight: 100;
}

.three {
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgb(203, 247, 203);
    color: hsl(166, 100%, 37%);
    margin-bottom: 10px;
}
.three b {
    color: rgb(3, 3, 51);
    padding-left: 45%;
    font-weight: 100;
}
.four {
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgb(229, 229, 251);
    color: hsl(234, 85%, 45%);
}
.four b {
    color: rgb(3, 3, 51);
    padding-left: 45%;
    font-weight: 100;
}
span #value {
    color: rgb(119, 118, 118);
}
button {
    color: white;
    padding: 10px 30% 10px 30%;
    border-radius: 20px;
    background-color: rgb(3, 3, 51);
    margin-left: 25px;
}