.page {
    margin:0 40% 0 40%;
}
.col1 {
    background-color: #5151f7;
    border-radius: 0 0 15px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
#marks {
    border-radius: 100%;
    background-color: rgb(4, 4, 163);
}
.col2{
    border: 2px solid red;
    padding-bottom: 10px;
}
.container {
    text-align: center;  
}

button {
    color: white;
    padding: 2% 30% 2% 30%;
    border-radius: 20px;
    background-color: rgb(3, 3, 51);
    margin: 0 20px auto;
}